body {
	background-color: lightgrey
}



}


.picture{
	width: 152px;
	margin: 0 auto;
	box-shadow: 20px;
	padding: 3px;
}


p {font-family: 'Josefin Sans', sans-serif; font-weight: 400; font-size: 15px; text-align: center}
h1 {font-family: 'Permanent Marker', cursive; font-weight: 800; font: 30px; text-align: center}
h2 {font-family: 'Permanent Marker', cursive; font-weight: 800; font: 20px; text-align: center}


.content{
	background-color:white;
	/*height:500px;*/
	max-width:850px;
	margin:-15px auto;
	padding:35px;
	border:5px solid grey;
	box-shadow:2px 2px 15px grey;
}

/*content section*/

.content-table{
	height:150px;
	width:250px;
	border:2px solid grey;
	margin:0 auto;
}

/*descendant selector*/
